/*!
*
* 修改header
*
*/

.notebook_app {
    overflow-y: hidden;
    font-family: "Microsoft YaHei";
}

.notebook_app #header {
    box-shadow:12px 1px 0px 0px rgba(87, 87, 87, 0.2);
    border-bottom: 1px solid rgba(87, 87, 87, 0.2);
}

body > #header #header-container,
body > #header .header-bar {
    display:none;
}

#menubar .navbar {
    border-top:none;
    border-radius: none!important;
    border-color: #fff;
}

#menubar .navbar-collapse {
    background: #fff;
    border-color:#fff;
}

#menubar .navbar-nav {
    display:none;
}

#maintoolbar {
    display: none;
}

#notification_trusted.notification_widget {
    height: 25px;
    background-color: #f8f8f8;
    border-color: #f8f8f8;
}

#notification_trusted span{
    display: none;
}

.download-code {
    display:inline-block;
    float: right;
    margin: 3px 5px;
    padding: 0 10px;
    border: 1px solid #08bf91;
    border-radius: 4px;
    font-size: 18px;
    color: #08bf91;
}

/*!
* 改变代码块的样式，与实验楼想匹配
*/

.code_cell .CodeMirror {
    font-size: 16px;
    background: #000;
    color: #fff;
    line-height: 2em;
}

div.text_cell .inner_cell {
    font-size: 16px;
    line-height: 2em;
}

div.text_cell .rendered_html {
    font-weight: 200;
}

.rendered_html p code {
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    font-size: 90%;
}

.rendered_html code,
.rendered_html pre {
    color: #c7254e;
    background-color: #f9f2f4;
}

/* 代码块keyword颜色 */
.cm-s-ipython span.cm-keyword {
    color: #f92672;
}
/* 代码块数字颜色 */
.cm-s-ipython span.cm-number {
    color: #ae81ff;
    font-weight: bold;
}
/* 代码块string颜色 */
.cm-s-ipython span.cm-string {
    color: #e6db74;
}

.cm-s-ipython span.cm-operator {
    color: #75715e;
}

.cm-s-ipython span.cm-variable {
    color: #e6db74;
}

/* 修改光标的颜色 */
div.code_cell .CodeMirror-cursor {
    border-left: 1.4px solid #fff !important;
}

/* 代码块工具栏 */

#notebook div.code_cell,
#notebook div.text_cell {
    position:relative;
    margin-top: 15px;
}


#notebook div.code_cell .run-code-btn,
#notebook div.text_cell .run-code-btn {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 80px;
    height: 40px;
    line-height: 40px;
    padding-left: 30px;
    background-color: #fff;
    font-size: 30px;
    color: #08bf91;
}

#notebook div.selected .run-code-btn {
    display:block;
}

#notebook div.unselected .run-code-btn {
    display:none;
}

#notebook div.code_cell .code-tools,
#notebook div.text_cell .code-tools {
    position: absolute;
    top: -20px;
    right: 6px;
    height: 25px;
    background-color: #fff;
    z-index: 10;
}

#notebook div.text_cell .code-tools {
    top: -27px;
}

#notebook div.text_cell span.markdown-btn {
    color: #08bf91;
}

#notebook div.text_cell span.code-btn {
    color: #333;
}

#notebook div.code_cell span.markdown-btn {
    color: #333;
}

#notebook div.code_cell span.code-btn {
    color: #08bf91;
}

#notebook div.selected .code-tools {
    display: block;
}

#notebook div.unselected .code-tools {
    display: none;
}

#notebook div.code_cell .tool-container,
#notebook div.text_cell .tool-container {
    display:inline-block;
    padding: 1px 5px;
    border: 1px solid rgb(248, 248, 248);
    font-size: 10px;
}

#notebook div.code_cell .tool-container span,
#notebook div.text_cell .tool-container span {
    display: inline-block;
    padding: 0 6px;
    font-weight: bold;
}

#notebook div.code_cell .tool-container span.select,
#notebook div.text_cell .tool-container span.select {
    font-weight:bold;
}

#notebook div.code_cell .tool-container span:hover,
#notebook div.code_cell .tool-container span:focus,
#notebook div.text_cell .tool-container span:hover,
#notebook div.text_cell .tool-container span:focus {
    color: #08bf91;
}

#notebook div.code_cell .tool-container.add-cell span,
#notebook div.text_cell .tool-container.add-cell span {
    background-color: #08bf91;
    color: #fff;
    border-radius: 4px;
}

#notebook div.code_cell .tool-container.add-cell span:hover,
#notebook div.code_cell .tool-container.add-cell span:focus,
#notebook div.text_cell .tool-container.add-cell span:hover,
#notebook div.text_cell .tool-container.add-cell span:focus {
    color: #fff;
}

#notebook div.code_cell .tool-container.delete-cell span,
#notebook div.text_cell .tool-container.delete-cell span {
    color: #ff5c5d;
    font-size: 16px;
}

#notebook div.code_cell .tool-container.delete-cell span:hover,
#notebook div.code_cell .tool-container.delete-cell span:focus,
#notebook div.text_cell .tool-container.delete-cell span:hover,
#notebook div.text_cell .tool-container.delete-cell span:focus {
    color: #ff5c5d;
}

#notification_area {
    float: left !important;
}
